<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: header">  </head>
<body>
    <div th:insert="navbar :: navbar">  </div>
    <div class="d-flex justify-content-center flex-column align-items-center" style="margin-left: 5%; max-width: 90%    ">
        <h1 class="mx-4">Bücher Suchen</h1>
        <div class="d-flex my-2 justify-content-center">
            <form th:action="@{/books/search}" method="get" class="d-flex">
                <input type="text" name="searchTerm" placeholder="Suchbegriff eingeben..." class="form-control" />
                <button type="submit" class="btn btn-primary" style="margin-left: 10px">Suchen</button>
            </form>
        </div>
        <h2 class="my-4">Ergebnisse:</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="book : ${books}">
                <strong><a th:text="${book.title}"></a></strong>
                von <em th:text="${book.author}"></em>
                <br>
                <small th:text="${book.description}"></small>
            </li>
        </ul>
    </div>
</body>
<footer th:insert="footer :: footer">  </footer>
</html>